<a href="#" class="list-group-item">
  <div class="rating-header">
    <h4 class="list-group-item-heading">Rayumi Suzuki</h4>
    <div class="rate">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
  <small class="feedback-problem"><em>Broken LCD</em></small>
  <p class="list-group-item-text">Technician is very approachable</p>
</a>

<a href="#" class="list-group-item">
  <div class="rating-header">
    <h4 class="list-group-item-heading">Honda Civic</h4>
    <div class="rate">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
  <small class="feedback-problem"><em>Broken LCD</em></small>
  <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ...</p>
</a>

<a href="#" class="list-group-item">
  <div class="rating-header">
    <h4 class="list-group-item-heading">Eminem Chicken</h4>
    <div class="rate">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
  <small class="feedback-problem"><em>Broken LCD</em></small>
  <p class="list-group-item-text">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
</a>